<div class="banner banner_info">
  <img
    class="banner_image"
    src="../../assets/Images/logo-02.png"
    alt="Placeholder image"/>
  <div class="banner_content text-black">
    <mat-card>
        <h2 class="font-medium">
            Login
          </h2>
          <mat-divider></mat-divider>      
        <mat-card-content class="mat-card">
            <br>    
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Placeholder">
                        <br>
                        <input type="text" class="form-control" placeholder="Placeholder" disabled>
                        <br>
                        <form action="" class="was-validated">
                            <input class="form-control" type="text" name="ValidateInput" id="" required>
                            <div class="invalid-feedback">
                                Validación
                            </div>
                            <button class="btn btn-blue" onclick="openSimple()">log In</button><br />
                        </form>
                    </div>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>